<div class="p-4 md:p-5 space-y-4">
  <div>
    <form
      class=""
      autocomplete="off"
      [formGroup]="myForm"
      (ngSubmit)="onSave()"
    >
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <label
            for="role"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'role'
              )
            }"
            >Nombre del rol</label
          >
          <input
            type="text"
            id="role"
            formControlName="role"
            class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                formUtils.isValiedField(myForm, 'role')
            }"
          />
          @if(formUtils.isValiedField(myForm,'role')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "role")
            }}</span>
          </p>
          }
        </div>
        <div>
          <label
            for="description"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'description'
              )
            }"
            >Descripción</label
          >
          <input
            type="text"
            id="description"
            formControlName="description"
            class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                formUtils.isValiedField(myForm, 'description')
            }"
          />
          @if(formUtils.isValiedField(myForm,'description')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "description")
            }}</span>
          </p>
          }
        </div>
      </div>
    </form>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <tyn-user-detail-privilege-page />
  </div>
</div>
