<div class="dark:bg-gray-700 dark:text-white">
  <div class="body-primary">
    <div class="body-secondary max-w-7xl m-auto">
        <tyn-title
          title="Mi cuenta"
        />
      <div class="mb-4">
        <ul class="tab" role="tablist">
          <li class="md:me-2" role="presentation">
            <button
              (click)="selectedTab = 'selectProfile'"
              [ngClass]="
                selectedTab === 'selectProfile' ? 'tab-active' : 'tab-inactive'
              "
              type="button"
              role="tab"
            >
              Perfil general
            </button>
          </li>
          <li class="md:me-2" role="presentation">
            <button
              (click)="selectedTab = 'selectPrivacity'"
              [ngClass]="
                selectedTab === 'selectPrivacity'
                  ? 'tab-active'
                  : 'tab-inactive'
              "
              type="button"
              role="tab"
            >
              Seguridad y privacidad
            </button>
          </li>
        </ul>
      </div>

      <div *ngIf="selectedTab === 'selectProfile'">
        <tyn-profile [user]="user"></tyn-profile>
      </div>
      <div *ngIf="selectedTab === 'selectPrivacity'">
        <tyn-security-privacity />
      </div>
    </div>
  </div>
</div>
