<div class="mb-6">
  <h1 class="text-2xl font-semibold mb-2">Creaciones</h1>
</div>
<div class="mb-4">
  <ul class="tab" role="tablist">
    <li class="me-2" role="presentation">
      <button
        (click)="selectedTab = 'PUBLICADOS'"
        [ngClass]="selectedTab === 'PUBLICADOS' ? 'tab-active' : 'tab-inactive'"
        type="button"
        role="tab"
      >
        Publicados
      </button>
    </li>
    <li class="me-2" role="presentation">
      <button
        (click)="selectedTab = 'OFERTAS'"
        [ngClass]="selectedTab === 'OFERTAS' ? 'tab-active' : 'tab-inactive'"
        type="button"
        role="tab"
      >
        Ofertas
      </button>
    </li>
    <li class="me-2" role="presentation">
      <button
        (click)="selectedTab = 'EN_VIVO'"
        [ngClass]="selectedTab === 'EN_VIVO' ? 'tab-active' : 'tab-inactive'"
        type="button"
        role="tab"
      >
        En vivo
      </button>
    </li>
  </ul>
</div>
  <tyn-creation-store-table-creation-page
    [tipeTable]="selectedTab"
  ></tyn-creation-store-table-creation-page>

