<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-10 m-4">
  <div class="mb-6 text-gray-900 dark:text-white">
    <h1 class="text-2xl font-semibold">Solicitudes demo</h1>
    <p>Tiendas solicitando una demo de Tynbiz...</p>
  </div>
  <!-- Búsqueda general -->
  <tyn-filter
    [filterMenu]="filterMenu()"
    (selectFilter)="changeState($event)"
    placeholder="Buscar"
    [currentPage]="_linkService.currentPage()"
    [currentSize]="_linkService.currentSize()"
    [currentSearchTerm]="_linkService.currentSearchTerm()"
    [currentDateStartValue]="_linkService.currentDateInitialFilter()"
    [currentDateEndValue]="_linkService.currentDateEndFilter()"
  ></tyn-filter>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="tabla"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Tienda</th>
          <th scope="col" class="px-6 py-3">Fecha de solicitud</th>
          <th scope="col" class="px-6 py-3">Correo</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-6 py-3 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
      @if(demoResorce.hasValue()) {
    <!--  -->
        @for (item of demoResorce.value().content; track item.id) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ item.displayName }}
            <br />
            <span class="text-gray-500 dark:text-gray-400">
              {{ item.storeUrl }}</span
            >
          </th>
          <td class="px-6 py-4">{{ item.createdAt | date : "medium" }}</td>
          <td class="px-6 py-4">{{ item.email }}</td>
          <td class="px-6 py-4">
            <span
              class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
              [ngClass]="{
                'bg-red-100 text-red-800': item.statusName === 'PENDIENTE'
              }"
            >
              {{ item.statusName }}
            </span>
          </td>
          @if (item.statusName === 'PENDIENTE') {
          <td class="px-6 py-4 text-center">
            <button
              type="button"
              (click)="openModal(item)"
              class="button-primary "
            >
              Gestionar
            </button>
          </td>
          } @else {
          <td class="px-6 py-4 text-center"></td>
          }
        </tr>
        }
              <!--  -->
      @empty {
      <td colspan="7" class="text-center py-4">No hay Demos disponibles.</td>
      }
            <!--  -->
      } @if(demoResorce.isLoading()) {
      <tr>
        <td colspan="6" class="text-center p-4">
          <div class="alert alert-info text-center">
            <span class="font-bold">Cargando demos...</span>
          </div>
        </td>
      </tr>
      }
    </tbody>
    </table>
  </div>
  <!-- Paginación -->
     @if(demoResorce.hasValue()){
  <app-pagination
    [pages]="demoResorce.value().totalPages"
    [totalElements]="demoResorce.value().totalElements"
    [currentPage]="_linkService.currentPage()"
    [currentSize]="_linkService.currentSize()"
    [currentStatus]="_linkService.currentStatus()"
    [currentSearchTerm]="_linkService.currentSearchTerm()"
    [currentDateStartValue]="_linkService.currentDateInitialFilter()"
    [currentDateEndValue]="_linkService.currentDateEndFilter()"
  />
  }
</div>

<!-- modal -->
@if (isModalOpen()) {
<div
  class="fixed inset-0 bg-black opacity-50 z-40"
  (click)="isModalOpen.set(false)"
></div>
}
<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="isModalOpen() ? 'block' : 'hidden'"
  class="overflow-y-auto overflow-x-hidden fixed flex top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Gestion solicitud demo
        </h3>
        <button
          type="button"
          (click)="isModalOpen.set(false)"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
       @if (selectedSolicDemo) {
      <div class="p-4 md:p-5 space-y-4">
        <div class="relative overflow-x-auto">
          <div class="mx-5 flex items-center justify-between">
            <h4
              class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
            >
              Datos de la tienda virtual
            </h4>
            <p>
              <span class="text-sm text-gray-900 dark:text-white mb-4"
                >Estado
              </span>
              <span class="font-semibold text-yellow-600">
                {{ selectedSolicDemo.statusName }}
              </span>
            </p>
          </div>
          <table
            class="tabla"
          >
            <tbody>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Tienda
                </th>
                <td class="px-6 py-4">{{ selectedSolicDemo.statusName }}</td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Enlace
                </th>
                <td class="px-6 py-4">{{ selectedSolicDemo.storeUrl }}</td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Fecha de solicitud
                </th>
                <td class="px-6 py-4">{{ selectedSolicDemo.createdAt }}</td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Nombre
                </th>
                <td class="px-6 py-4">
                  {{ selectedSolicDemo.lastName }}
                </td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Correo
                </th>
                <td class="px-6 py-4">{{ selectedSolicDemo.email }}</td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 w-10 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Telefono
                </th>
                <td class="px-6 py-4">{{ selectedSolicDemo.phoneNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex items-center mb-4">
          <input
            id="checkbox-2"
            type="checkbox"
            value=""
            class="w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            (change)="selectedSolicDemo.statusName = 'ATENDIDO'"
            />
          <label
            for="checkbox-2"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Marcar como atendido</label
          >
        </div>
      </div>
    }
      <!-- Modal footer -->
      <div
        class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="default-modal"
          type="button"
          (click)="closeModal()"
          class="button-primary "
        >
          Aplicar
        </button>
      </div>
    </div>
  </div>
</div>
