<div class="dark:bg-gray-700 dark:text-white"><div class="grid lg:grid-cols-3 items-center  card-static">
  <div class="mb-6 text-gray-900 lg:col-span-2">
    <h1 class="text-2xl font-semibold">Bienvenido a Tynbiz</h1>
    <p class="mt-2">
      Tynbiz te permitira promocionar tus productos mediante creacion de
      contenido y dar una solucion rapida en atencion al cliente, a los
      usuarios en sus compras mediante sala de tynbiz <br />
      Tynbiz ya esta integrado con tu tienda virtual <br />
      Actualmente usas el plan de suscripcion
    </p>
  </div>
  <div class="lg:col-span-1 2xl:m-6">
    <img src="assets/img/u55.png" alt="" />
  </div>
</div></div>
