<div class="p-4 md:p-5">
  <h4 class="font-bold text-2xl text-center">Iniciar sesión</h4>
  <p>
    Ingresa a Tynbiz y interactua con amigos, familiares o con el vendedor
    directamente en tus compras
  </p>
  <form
    class="mt-5 p-10"
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="onSave()"
  >
    <div>
      <label
        for="user"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Usuario</label
      >
      <input
        type="text"
        id="user"
        formControlName="user"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'user')
        }"
      />
      @if(formUtils.isValiedField(myForm,'user')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "user")
        }}</span>
      </p>
      }
    </div>
    <div>
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        formControlName="password"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'password')
        }"
      />
      @if(formUtils.isValiedField(myForm,'password')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "password")
        }}</span>
      </p>
      }
    </div>
    <div class="flex justify-between">
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
            class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
            required
          />
        </div>
        <label
          for="remember"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Remember me</label
        >
      </div>
      <a
        href="#"
        class="text-sm text-blue-700 hover:underline dark:text-blue-500"
        >Lost Password?</a
      >
    </div>
    <button
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Login to your account
    </button>
    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
      Not registered?
      <a href="#" class="text-blue-700 hover:underline dark:text-blue-500"
        >Create account</a
      >
    </div>
  </form>
</div>
