<a
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-screen-xl hover:bg-gray-100"
>
  <img
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
    src="./assets/img/u55.png"
    alt=""
  />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      Tiendas asociadas a tynbiz
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Encuentra en tynbiz todas las tiendas virtuales de diferentes categorias
      <br />
      Los usuarios que acceden a cualquier tienda virtual asociado a tynbiz,
      puden utilizar sala de tynbiz para una compra interactiva con otros
      usuarios o con el vendedor
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      Cantidad <br />
      +300
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Tiendas virtuales asociados
    </p>
  </div>
</a>
