<div
  class="my-2 sm:mx-2 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700"
>
  <div class="flex items-center m-6 justify-between mb-4">
    <span class="flex items-center space-x-2 justify-between w-full">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        {{ isDataStatistic().info.title }}
      </h5>
      <select
        [(ngModel)]="itemsPerPage"
        (ngModelChange)="onItemsPerPageChange($event)"
        class="justify-center ml-2 block w-25 py-0 px-2 h-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      >
        @for (option of ["bar", "line"]; track $index) {
        <option [value]="option">{{ option }}</option>
        }
      </select>
    </span>
  </div>
  <div class="grid items-center m-6 mb-4 grid-rows-2">
    <span class="text-3xl font-bold text-gray-700">
      {{ isDataStatistic().info.cant }}
    </span>
    <p class="text-sm text-gray-700 ml-2">
      {{ isDataStatistic().info.description }}
    </p>
  </div>
  <canvas [id]="isDataStatistic().id" class="p-5"></canvas>
</div>
