<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-10">
  <div
    class="mb-6 text-gray-900 dark:text-white flex items-center justify-between"
  >
    <h1 class="text-2xl font-semibold">Lista de roles</h1>

    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 focus:outline-violet-500 active:bg-violet-700"
      (click)="isModalOpen.set(true)"
    >
      <i class="fa-solid fa-plus ms-2"></i>
      Agregar rol
    </button>
  </div>
  <!-- Búsqueda general -->
  <div class="flex items-center justify-between pb-4">
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        [(ngModel)]="search"
        placeholder="Buscar rol"
        class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      />
    </div>
    <div class="flex items-center">
      <span class="mx-4 text-gray-500">Fechas</span>
      <input
        type="date"
        [(ngModel)]="startDate"
        placeholder="Fecha desde"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      />
      <span class="mx-4 text-gray-500">al</span>
      <input
        type="date"
        [(ngModel)]="endDate"
        placeholder="Fecha hasta"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      />
    </div>
    <!-- busqueda por estado -->
    <div class="relative w-48">
      <select
        id="status"
        (ngModelChange)="filterByStatus($event)"
        [(ngModel)]="isState"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
      >
        <option ngValue="All" selected>Todos</option>
        <option ngValue="Activo">Activo</option>
        <option ngValue="Inactivo">Inactivo</option>
      </select>
    </div>
  </div>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-x-auto"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nombre Rol</th>
        <th scope="col" class="px-6 py-3">Descrición</th>
        <th scope="col" class="px-6 py-3">Fecha de creado</th>
        <th scope="col" class="px-6 py-3">Estado</th>
        <th scope="col" class="px-6 py-3">Usuarios habilitados</th>
        <th scope="col" class="px-6 py-3">Usuarios inhabilitados</th>
        <th scope="col" class="px-6 py-3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if(rolesResorce.hasValue()) {
      <!--  -->
      @for (item of rolesResorce.value().content; track item.id) {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.denominacion }}
        </th>
        <td class="px-6 py-4">{{ item.descripcion }}</td>
        <td class="px-6 py-4">{{ item.fechaCreacion | date : "medium" }}</td>
        <td class="px-6 py-4">
          <span
            class="inline-flex items-center text-xs font-medium px-2.5 py-0.5 rounded-full"
            [ngClass]="{
              'bg-red-100 text-red-800':
                item.estadoIdc === 2,
              'bg-yellow-100 text-yellow-800':
                item.estadoIdc !== 2,

            }"
          >
            {{ item.estadoIdc === 2 ? "Activo" : "Inactivo" }}
          </span>
        </td>
        <td class="px-6 py-4 text-center">-</td>
        <td class="px-6 py-4 text-center">-</td>
        <td class="px-6 py-4 text-center">....</td>
      </tr>
      }
      <!--  -->
      @empty {
      <td colspan="7" class="text-center py-4">No hay usuarios disponibles.</td>
      }
      <!--  -->
      } @if(rolesResorce.isLoading()) {
      <tr>
        <td colspan="6" class="text-center p-4">
          <div class="alert alert-info text-center">
            <span class="font-bold">Cargando usuarios...</span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <!-- Paginación -->
  @if(rolesResorce.hasValue()){
  <app-pagination
    [pages]="rolesResorce.value().totalPages"
    [totalElements]="rolesResorce.value().totalElements"
    [currentPage]="_paginationService.currentPage()"
    [currentSize]="_paginationService.currentSize()"
  />
  }
</div>

<!-- Modal -->
@if (isModalOpen()) {
<div
  class="fixed inset-0 bg-black opacity-50 z-40"
  (click)="isModalOpen.set(false)"
></div>
}
<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="isModalOpen() ? 'block' : 'hidden'"
  class="fixed inset-0 z-50 flex items-center justify-center"
>
  <div
    class="relative w-full max-w-3xl m-4 md:max-h-[90vh] bg-white rounded-lg shadow dark:bg-gray-700 overflow-hidden"
  >
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Crear Rol
        </h3>
        <button
          type="button"
          (click)="isModalOpen.set(false)"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <tyn-form-new-role-page />
    </div>
  </div>
</div>
<!-- End Modal content -->
