<div class="p-6 lg:pt-20 lg:px-20 bg-purple-200 dark:bg-gray-800">
  <h4 class="text-2xl font-bold text-center">Cambiar contraseña</h4>
  <form
    class="mt-5 p-10"
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="onSave()"
  >
    <div class="mb-6">
      <label
        for="oldPassword"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'oldPassword'
          )
        }"
        >Contraseña actual</label
      >
      <input
        type="text"
        id="oldPassword"
        formControlName="oldPassword"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'oldPassword')
        }"
      />
      @if(formUtils.isValiedField(myForm,'oldPassword')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "oldPassword")
        }}</span>
      </p>
      }
    </div>
    <div class="mb-6">
      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'newPassword'
          )
        }"
        >Nueva contraseña</label
      >
      <input
        type="text"
        id="newPassword"
        formControlName="newPassword"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'newPassword')
        }"
      />
      @if(formUtils.isValiedField(myForm,'newPassword')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "newPassword")
        }}</span>
      </p>
      }
    </div>

    <div class="mb-6">
      <label
        for="newPasswordRepit"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'newPasswordRepit'
          )
        }"
        >Vuelve a escribir la contraseña</label
      >
      <input
        type="text"
        id="newPasswordRepit"
        formControlName="newPasswordRepit"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'newPasswordRepit')
        }"
      />
      @if(formUtils.isValiedField(myForm,'newPasswordRepit')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "newPasswordRepit")
        }}</span>
      </p>
      }
    </div>
    <button
      type="submit"
      [disabled]="!myForm.valid"
      class="text-white btn-primary bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Solicitar demo
    </button>
  </form>
  <p>
    Perfecto. Para una contraseña segura, puedes definir un validador
    personalizado que verifique varios criterios comunes de seguridad, como:
    <br />
    - Longitud mínima (por ejemplo, 8 caracteres) <br />
    - Al menos una letra mayúscula <br />
    - Al menos una letra minúscula <br />
    - Al menos un número <br />
    - Al menos un carácter especial (como &#64;, #, $, etc.) <br />
  </p>
</div>
