<div class="dark:bg-gray-700 dark:text-white"><div class="mb-4">
<h2 class="font-bold text-2xl">Perfil</h2>
<p>Identificate, explora y realiza tu proxima compra</p>
</div></div>

<button type="button" class="button-secondary w-full font-bold">Identifícate</button>
<div class="flex justify-between py-2">
  <p>Estas empezando a usar Tynbiz</p>
  <p class="font-bold">Registrate</p>
</div>
<div class="py-4">
  <p class="font-bold">Usa Tynbiz en tu Negocio</p>
</div>
<button type="button" class="button-primary w-full font-bold">Solicitar Tynbiz</button>
<div class="py-4">
  <p class="font-bold">¿Eres un cliente?</p>
  <p>Accede a tu cuenta para gestionar tus pedidos y preferencias.</p>
</div>
