@if (visible()) {
<div>
  <div class="fixed inset-0 bg-black opacity-50 z-40"></div>
  <div class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-4 md:p-5 text-center">
      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <h2 class="text-lg font-semibold text-red-600">¿Estás seguro?</h2>
      <p class="mt-2 text-sm text-gray-700">
        Estás a punto de {{actionLabel()}} : <strong>{{ itemName() }}</strong>
      </p>
      <div class="flex justify-center mt-6 space-x-3 text-white">
        <button data-modal-hide="popup-modal" type="button" (click)="onConfirm()"
        [ngClass]="{
          'bg-red-600 hover:bg-red-700 focus:ring-red-300 dark:focus:ring-red-800': actionType() === 'eliminar',
          'bg-green-600 hover:bg-green-700 focus:ring-green-300 dark:focus:ring-green-800': actionType() === 'activar',
          'bg-blue-600 hover:bg-blue-700 focus:ring-blue-300 dark:focus:ring-blue-800': actionType() === 'desactivar',
        }"
          class="focus:ring-4 focus:outline-none font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          {{actionLabel()}}
        </button>
        <button data-modal-hide="popup-modal" type="button" (click)="onCancel()"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-200 hover:border-gray-300 hover:text-gray-600 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
}
