@if (selectedTab === 'select') {

<div class="p-2">
  <img
    src="./assets/img/createInteraction.png"
    alt="Tynbiz"
    class="mx-auto w-1/2 lg:w-1/2 h-auto xl:w-1/3"
  />
  <h4 class="font-bold text-2xl pt-2 md:p-4 dark:text-gray-100">Unete a Tynbiz sala</h4>
  <p class="pt-4 dark:text-gray-100">
    Realiza tus compras de manera interactiva, podras unirte en tus compras
    entre usuarios y usuarios con dueña(o)s de las tiendas.
  </p>
  <p class="pt-4 dark:text-gray-100">
    Impulsa tus compras con Tynbiz sala, colaborando con amigos y familiares
  </p>
  <h4 class="font-bold text-lg pt-2 dark:text-gray-100">Elige y accede</h4>
  <div class="flex gap-4 pt-4 w-full flex-col md:flex-row">
    <button class="button-primary w-full" (click)="goToCreateLater()">
      Crear interacción para mas tarde
    </button>
    <button class="button-secondary m-0 w-full" (click)="goToStartNow()">
      Iniciar interacción ahora
    </button>
  </div>
</div>

} @if (selectedTab === 'selectCreateLater') {
<div class="p-2 md:p-5">
  <div>
    <h4 class="font-bold text-2xl">Crear interacción en vivo</h4>
    <p>Seleccione la fecha y hora para crear una interacción posterior</p>
  </div>
  <form
    class="mt-4"
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="onSave()"
  >
    <div class="mb-3">
      <h4 class="font-bold text-xl">Detalle</h4>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-5">
      <div class="flex items-center">
        <p>La privacidad de tu interacción</p>
      </div>
      <div>
        <select id="visibility" class="input-base" formControlName="visibility">
          <option value="" selected disabled>Seleccione</option>
          <option value="PRIVADO">Privado</option>
          <option value="PUBLICO">Publico</option>
        </select>
      </div>

      <div>
        <label
          for="date"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Fecha</label
        >
        <input
          type="date"
          id="date"
          formControlName="date"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'date')
        }"
        />
        @if(formUtils.isValiedField(myForm,'date')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium"
            >{{ formUtils.getFieldError(myForm, "date") }}</span
          >
        </p>
        }
      </div>
      <div>
        <label
          for="time"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Hora</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 inset-e-0 top-0 flex items-center pe-3.5 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-body"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </div>
          <input
            type="time"
            id="time"
            formControlName="time"
            class="block w-full p-2.5 border border-gray-300 text-sm rounded focus:ring-brand focus:border-brand shadow-xs placeholder:text-body text-black dark:text-white bg-gray-200 dark:bg-gray-700"
            min="08:00"
            max="12:00"
            value="12:00"
            required
          />
        </div>
        @if(formUtils.isValiedField(myForm,'time')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium"
            >{{ formUtils.getFieldError(myForm, "time") }}</span
          >
        </p>
        }
      </div>
    </div>
    <div class="flex items-center justify-end rounded-b">
      <button
        type="button"
        class="button-secondary me-3"
        (click)="selectedTab = 'select'"
      >
        Cancelar
      </button>
      <button
        data-modal-hide="default-modal"
        type="submit"
        class="button-primary"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
} @if (selectedTab === 'selectStartNow') {
<div class="p-2 md:p-5">
  @if(respInteractionRoom){
  <div class="flex-col flex gap-2 bg-gray-100 dark:bg-gray-600 p-4 rounded-xl">
    <div class="grid grid-cols-5">
      <div class="col-span-4 flex flex-center">
        <span
          class="bg-green-500 w-6 h-6 text-white p-2 rounded-full mr-2 flex items-center justify-center"
        >
          <i class="fas fa-check"></i>
        </span>
        <div class="flex flex-col">
          <p class="font-semibold">Creación</p>
          <span class="text-sm text-gray-500 dark:text-white"
            >Para {{ respInteractionRoom.scheduledAt | date:'dd MMM yyyy, hh:mm
            a' }}</span
          >
        </div>
      </div>
      @if(respInteractionRoom.roomStatus === 'LIVE') {
      <button class="button-primary col-span-1" (click)="createJitsi(respInteractionRoom.videoRoomUrl)">Ir sala</button>
    }
    </div>

    <div class="flex items-center bg-white dark:bg-gray-600 p-2 rounded-md">
      <span class="text-sm text-gray-700 dark:text-white"
        >Link de la sala : {{ respInteractionRoom.videoRoomUrl }}</span
      >
      <button
        class="ml-auto cursor-pointer"
        (click)="copyToClipboard(respInteractionRoom.videoRoomUrl)"
      >
        <i class="fa-solid fa-copy fa-xl text-primary"></i>
      </button>
    </div>
  </div>
  }
  <div class="flex flex-col mt-4 mb-4">
    <h4 class="text-lg font-bold">Invitar</h4>
    <span>Invita al usuario eligiendo cualquier alternativa</span>
  </div>

  <form
    class="mt-4"
    autocomplete="off"
    [formGroup]="myFormEmail"
    (ngSubmit)="searchUserByEmail(myFormEmail.controls['email'].value)"
  >
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo</label
      >
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="tynbiz@example.com"
        (input)="searchSubject.next($any($event.target).value)"
        (keydown.enter)="$event.preventDefault(); searchUserByEmail(myFormEmail.controls['email'].value)"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myFormEmail, 'email')
        }"
      />
      @if(formUtils.isValiedField(myFormEmail,'email')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium"
          >{{ formUtils.getFieldError(myFormEmail, "email") }}</span
        >
      </p>
      }
    </div>
  </form>
  @if (lookingForUser()) {
  <!--  -->
  <div class="flex flex-col gap-2 mt-4 max-h-60 overflow-y-auto relative">
    @for (user of listUsers(); track $index) {
    <button
      class="flex max-w-200 items-center justify-between cursor-pointer gap-3 rounded-lg p-3 text-left transition hover:bg-gray-100 dark:hover:bg-neutral-700 z-20 bg-white dark:bg-gray-600"
      (click)="selectionUser(user)"
    >
      <div class="flex items-center gap-2">
        <img
          class="size-8 object-center object-cover relative rounded-full"
          [src]="user.avatarUrl | notImage"
          [alt]="user.firstName + ' ' + user.lastName"
        />
        <div class="flex flex-col gap-1">
          <div>{{ user.firstName }} {{ user.lastName }}</div>
          <div class="text-xs text-gray-500 dark:text-gray-400">
            {{ user.email }}
          </div>
        </div>
      </div>
    </button>
    }
  </div>

  <!--  -->
  }

  <div class="mb-4 space-y-2 mt-5">
    <h1 class="text-md font-bold">Usuarios invitados</h1>
    @for (user of listSelecteUser(); track $index) {
    <div
      class="flex items-center justify-between rounded-md shadow-sm p-2 bg-gray-200 dark:bg-gray-600"
    >
      <div class="flex items-center gap-2">
        <img
          class="size-8 object-center object-cover relative rounded-full z-10"
          [src]="user.avatarUrl | notImage"
          [alt]="user.firstName + ' ' + user.lastName"
        />
        <div>
          <p class="text-sm font-semibold">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-200">
            {{ user.email }}
          </p>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <button (click)="removeUser(user.id)">
          <i
            class="fa-solid fa-xmark text-gray-500 cursor-pointer hover:text-gray-800 dark:hover:text-gray-200"
          ></i>
        </button>
      </div>
    </div>
    }
  </div>

  <div class="flex items-center justify-end rounded-b">
    <button
      type="button"
      class="button-secondary me-3"
      (click)="closeModalIntera()"
    >
      Omitir invitación
    </button>
    <button
      data-modal-hide="default-modal"
      type="submit"
      class="button-primary"
      (click)="sendDataFriends()"
    >
      Enviar
    </button>
  </div>
</div>
}
