<div class="flex justify-between my-4">
  <div class="flex items-center">
    <!-- <p class="text-sm text-gray-700 dark:text-gray-300 hidden">Filas por página:</p> -->
    <select
      [(ngModel)]="activeSizeValue"
      (ngModelChange)="onSizeChange($event)"

      class="justify-center ml-2 block w-14 py-0 px-2 h-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-violet-900 focus:border-violet-900 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-900 dark:focus:border-violet-900"
    >
      @for (option of getSizeList(); track $index) {
          <option [value]="option">
            <p >
              {{ option }}
            </p>
          </option>
      }
    </select>
  </div>
  <div class="justify-end">
    <nav aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px text-sm gap-1">
        <li>
          <a
            class="flex items-center justify-center px-2 h-6 md:px-3 md:h-8 ms-0 leading-tight text-gray-400 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-primary/80 hover:text-gray-700 dark:bg-gray-700 dark:text-gray-300 dark:hover:hover:bg-primary/70 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed"
            [routerLink]="[]"
            [queryParams]="buildQueryParams(activePage() - 1)"
            [class.pointer-events-none]="activePage() === 1"
            [class.opacity-50]="activePage() === 1"
            (click)="previousPage()"
            (mouseenter)="nextPagePrefet(activePage() - 2)"
            ><i class="fa-solid fa-chevron-left"></i
          ></a>
        </li>
        @for (item of getPaginationButtons(); track item) {
          @if (item === "...") {
            <li>
              <span
                class="flex items-center justify-center px-2 h-6 md:px-3 md:h-8 leading-tight text-gray-400 border border-gray-300 bg-white dark:bg-gray-700 dark:text-gray-300"
              >
                ...
              </span>
            </li>
          } @else {
            <li>
              <a
                class="flex items-center justify-center px-2 h-6 md:px-3 md:h-8 leading-tight text-gray-400 border border-primary/95 hover:bg-primary/80 hover:text-white dark:text-gray-300 dark:hover:hover:bg-primary/70 dark:hover:text-white"
                [ngClass]="{
                  'bg-primary text-white font-bold': item === activePage(),
                }"
                [routerLink]="[]"
                [queryParams]="buildQueryParams(+item)"
                (click)="activePage.set(+item)"
                (mouseenter)="nextPagePrefet(+item - 1)"
              >
                {{ item }}</a
              >
            </li>
          }
        } @empty {
          <p>No hay paginas</p>
        }
        <li>
          <a
            (mouseenter)="nextPagePrefet(activePage())"
            class="flex items-center justify-center px-2 h-6 md:px-3 md:h-8 leading-tight text-gray-400 bg-white border border-gray-300 rounded-e-lg hover:bg-primary/80 hover:text-gray-700 dark:bg-gray-700 dark:text-gray-300 dark:hover:hover:bg-primary/70 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed"
            [routerLink]="[]"
            [queryParams]="buildQueryParams(activePage() + 1)"
            [class.pointer-events-none]="activePage() === pages()"
            [class.opacity-50]="activePage() === pages()"
            (click)="nextPage()"
            ><i class="fa-solid fa-chevron-right"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
