<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-10 m-4">
  <div class="mb-6 text-gray-900 dark:text-white">
    <h4 class="text-lg font-bold">Calendario</h4>
    <p>
      Programe tu calendario entre fechas y horas, para atender a tus clientes
      que te soliciten desde su tienda virtual
    </p>
  </div>
  <div class="text-center">
    <h1 class="text-4xl font-bold">Atención a clientes</h1>
    <p>
      Atiende a tus clientes mediante la sala de Tynbiz, para ello su calendario
      debe estar programado para los siguientes días, semanas y meses que va
      atender a su cliente
    </p>
  </div>

  <tyn-horaries />

  <!-- copia del primero pero con horas en la mañan y en la tarde -->

  <div class="grid grid-cols-1 min-h-96 md:grid-cols-2 gap-4">
    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg px-10 m-4 col-span-1"
    >
      <div class="flex">
        <input
          class="hidden cursor-pointer bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-xl focus:ring-brand focus:border-brand w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          angular-mydatepicker
          name="reactiveFormsDate"
          formControlName="myDate"
          [options]="myDatePickerOptions"
          #dp="angular-mydatepicker"
          autocomplete="off"
          locale="es"
          (click)="toggleCalendar()"
          (dateChanged)="chageDate($event)"
        />
      </div>
    </div>
    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg px-10 m-4 col-span-1"
    >
      <h3 class="text-lg font-bold">Marcar fechas especiales (Excepciones)</h3>
      <p>
        La tienda puede indicar días que son diferentes a su horario normal:
      </p>
      @if (handlerTurno()) {


<form class="max-w-sm mx-auto">
  <label for="countries" class="block mb-2.5 text-sm font-medium text-heading">Seleccione opción</label>
  <select id="countries" class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body">
    <option value="US">Cerrado parcialmente</option>
    <option value="CA">Cerrado todo el día</option>
    <option value="FR">Horario extendido</option>
  </select>
</form>


        @for (horario of listHorarioTurno; track $index) {

      <div class="grid grid-cols-3 gap-2 mt-4">
        <div class="flex items-center">
          <input
            [checked]="horario.status"
            id="checked-checkbox-{{horario.dia}}"
            type="checkbox"
            class="w-7 h-7 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
          />
          <label
            for="checked-checkbox-{{horario.dia}}"
            class="select-none ms-2 text-xl font-medium text-heading"
            >{{horario.dia}}</label
          >
        </div>
        <div>
          <label
            for="from-{{horario.dia}}"
            class="block mb-2 text-sm font-medium text-heading"
            >Desde:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-body"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <input
              type="time"
              id="from-{{horario.dia}}"
              class="block w-full p-2.5 bg-neutral-secondary-medium border-2 text-heading text-sm rounded focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
              [min]="horario.desde"
              [max]="horario.hasta"
              [value]="horario.desde"
              required
            />
          </div>
        </div>
        <div>
          <label
            for="to-{{horario.dia}}"
            class="block mb-2 text-sm font-medium text-heading"
            >Hasta:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-body"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <input
              type="time"
              id="to-{{horario.dia}}"
              class="block w-full p-2.5 bg-neutral-secondary-medium border-2 text-heading text-sm rounded focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
              [min]="horario.desde"
              [max]="horario.hasta"
              [value]="horario.hasta"
              required
            />
          </div>
        </div>
      </div>
      }

      <div class="text-center my-6 flex justify-end">
        <button
          (click)="onDisableToday(true)"
          type="button"
          class="text-white bg-primary hover:bg-primary-light hover:text-primary border-primary border-2 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none"
        >
          Guardar cambios
        </button>
      </div>
      }
    </div>
  </div>
</div>
