<div class="dark:bg-gray-700 dark:text-white">
  <div class="rounded-lg lg:m-6 xl:w-2/3 xl:m-auto">
    <h1 class="text-2xl font-bold mb-6 text-center">Perfil</h1>
    @if (profile()) {
      <div class="mb-6">
        <h2 class="font-bold">Nombre:</h2>
        <p>{{ profile()?.firstName }} {{ profile()?.fullName }}</p>
      </div>
      <div class="mb-6">
        <h2 class="font-bold">Correo electrónico:</h2>
        <p>{{ profile()?.email }}</p>
      </div>
      <div class="mb-6">
        <h2 class="font-bold">Teléfono:</h2>
        <p>{{ profile()?.phone }}</p>
      </div>
      @if(profile()?.documentNumber) {
      <div class="mb-6">
          <h2 class="font-bold">Número de documento:</h2>
          <p>{{ profile()?.documentNumber }}</p>
        </div>
      }

      <!-- <form
        class="mt-5"
        autocomplete="off"
        [formGroup]="myForm"
        (ngSubmit)="onSave()"
      >
        <div class="mb-6 card-static">
          <h1 class="text-xl font-bold mb-6">Información básica</h1>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="name"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'firstName'),
                }"
                >Nombre</label
              >
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="input-base"
                [placeholder]="user()?.firstName"
                [disabled]="true"
                aria-label="disabled input"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'firstName'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "firstName")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "firstName")
                  }}</span>
                </p>
              }
            </div>
            <div>
              <label
                for="lastName"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'lastName'),
                }"
                >Apellidos</label
              >
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="input-base"
                [placeholder]="user()?.lastName"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'lastName'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "lastName")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "lastName")
                  }}</span>
                </p>
              }
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="gender"
                class="block mb-2 text-sm font-medium"
                >Género</label
              >
              <select id="gender" class="input-base" formControlName="gender">
                <option value="" selected disabled>Seleccione</option>
                <option value="MALE">Masculino</option>
                <option value="FEMALE">Femenino</option>
              </select>
            </div>
            <div class="mb-6">
              <label
                for="birthDate"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'birthDate'),
                }"
                >Fecha de nacimiento</label
              >
              <input
                type="date"
                id="birthDate"
                formControlName="birthDate"
                class="input-base"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'birthDate'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "birthDate")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "birthDate")
                  }}</span>
                </p>
              }
            </div>
          </div>
           -->
          <div class="mb-2">
            <h4 class="text-lg font-semibold mt-4">Foto</h4>
            <h4 class="text-sm font-normal mb-4">
              Carga una foto a tu perfil de tu cuenta 350x350px, formato JPG o PNG, tamaño máximo 2MB.
            </h4>
            <div class="md:flex items-center gap-6 justify-between">
              <div
                class="flex items-center justify-center w-20 h-20 rounded-full mb-6 object-cover"
              >
                <img [src]="urlImage | notImage" class="rounded-full" alt="" />
              </div>
              <div class="flex gap-3">
                <label class="button-primary">
                  Agregar foto
                  <input
                    type="file"
                    class="hidden"
                    accept="image/*"
                    (change)="changeAvatarFile($event)"
                  />
                </label>
              </div>
            </div>
          </div>
<!--
        </div>
        <div class="flex items-center justify-end py-4 md:py-5 rounded-b">
          <button type="button" class="button-secondary me-3">Cancelar</button>
          <button
            data-modal-hide="default-modal"
            type="submit"
            class="button-primary"
          >
            Guardar
          </button>
        </div>
      </form> -->
    }
  </div>
</div>
