<h3 class="text-3xl font-bold">Información del usuario</h3>
<form
  class="mt-5 p-10"
  autocomplete="off"
  [formGroup]="myForm"
  (ngSubmit)="onSave()"
>
  <!-- name -->
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="error"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'name'
          )
        }"
        >Nombre</label
      >
      <input
        type="text"
        id="error"
        formControlName="name"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
            formUtils.isValiedField(myForm, 'name')
        }"
      />
      @if(formUtils.isValiedField(myForm,'name')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "name")
        }}</span>
      </p>
      }
    </div>
    <!-- last_name -->
    <div>
      <label
        for="lastName"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'lastName'
          )
        }"
        >Apellidos</label
      >
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'lastName')
        }"
      />
      @if(formUtils.isValiedField(myForm,'lastName')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "lastName")
        }}</span>
      </p>
      }
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="gender"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Genero</label
      >
      <select
        id="gender"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected>Seleccione</option>
        <option value="US">Masculino</option>
        <option value="CA">Femenino</option>
      </select>
    </div>
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'email'
          )
        }"
        >Correo electronico</label
      >
      <input
        type="text"
        id="email"
        formControlName="email"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'email')
        }"
      />
      @if(formUtils.isValiedField(myForm,'email')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "email")
        }}</span>
      </p>
      }
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="dni"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'dni'
          )
        }"
        >DNI</label
      >
      <input
        type="text"
        id="dni"
        formControlName="dni"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
            formUtils.isValiedField(myForm, 'dni')
        }"
      />
      @if(formUtils.isValiedField(myForm,'dni')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "dni")
        }}</span>
      </p>
      }
    </div>
    <div>
      <label
        for="phone"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'phone'
          )
        }"
        >N° celular</label
      >
      <input
        type="text"
        id="phone"
        formControlName="phone"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'phone')
        }"
      />
      @if(formUtils.isValiedField(myForm,'phone')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "phone")
        }}</span>
      </p>
      }
    </div>
  </div>

  <div>
    <label
      for="birthdate"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'birthdate'
        )
      }"
      >Fecha de nacimiento</label
    >
    <input
      type="date"
      id="birthdate"
      formControlName="birthdate"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-purple-800"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'birthdate')
      }"
    />
    @if(formUtils.isValiedField(myForm,'birthdate')){
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">{{
        formUtils.getFieldError(myForm, "birthdate")
      }}</span>
    </p>
    }
  </div>

  <button
    type="submit"
    [disabled]="!myForm.valid"
    class="text-white btn-primary bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Solicitar demo
  </button>
</form>
<span>Error en name</span>
<pre>{{ myForm.controls["birthdate"].errors | json }}</pre>
