<div class="dark:bg-gray-700 dark:text-white">
  <div class="rounded-lg lg:m-6 xl:w-2/3 xl:m-auto">
    @if (user()) {
      <form
        class="mt-5"
        autocomplete="off"
        [formGroup]="myForm"
        (ngSubmit)="onSave()"
      >
        <div class="mb-6 card-static">
          <h1 class="text-xl font-bold mb-6">Información básica</h1>
          <!-- name -->
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="name"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'firstName'),
                }"
                >Nombre</label
              >
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="input-base"
                [placeholder]="user()?.firstName"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'firstName'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "firstName")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "firstName")
                  }}</span>
                </p>
              }
            </div>
            <!-- last_name -->
            <div>
              <label
                for="lastName"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'lastName'),
                }"
                >Apellidos</label
              >
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="input-base"
                [placeholder]="user()?.lastName"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'lastName'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "lastName")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "lastName")
                  }}</span>
                </p>
              }
            </div>
          </div>
          @if (
            user()?.role !== "SUPER_ADMIN" &&
            user()?.role !== "ADMIN" &&
            user()?.role !== "STORE_OWNER"
          ) {
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="gender"
                  class="block mb-2 text-sm font-medium text-black"
                  >Genero</label
                >
                <select id="gender" class="input-base" formControlName="gender">
                  <option selected disabled>Seleccione</option>
                  <option value="MALE">Masculino</option>
                  <option value="FEMALE">Femenino</option>
                </select>
              </div>
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium"
                  [ngClass]="{
                    ' text-red-700': formUtils.isValiedField(myForm, 'email'),
                  }"
                  >Correo electronico</label
                >
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="input-base"
                  [ngClass]="{
                    'input-error': formUtils.isValiedField(myForm, 'email'),
                  }"
                />
                @if (formUtils.isValiedField(myForm, "email")) {
                  <p class="mt-2 text-sm text-red-600">
                    <span class="font-medium">{{
                      formUtils.getFieldError(myForm, "email")
                    }}</span>
                  </p>
                }
              </div>
            </div>
          }

          <!-- <div class="grid gap-6 mb-6 md:grid-cols-2">
            @if (user()?.role !== "SUPER_ADMIN" && user()?.role !== "ADMIN") {
              <div>
                <label
                  for="documentNumber"
                  class="block mb-2 text-sm font-medium"
                  [ngClass]="{
                    ' text-red-700': formUtils.isValiedField(
                      myForm,
                      'documentNumber'
                    ),
                  }"
                  >DNI</label
                >
                <input
                  disabled
                  readonly
                  type="text"
                  id="documentNumber"
                  formControlName="documentNumber"
                  class="input-base"
                  [ngClass]="{
                    'input-error': formUtils.isValiedField(
                      myForm,
                      'documentNumber'
                    ),
                  }"
                />
                @if (formUtils.isValiedField(myForm, "documentNumber")) {
                  <p class="mt-2 text-sm text-red-600">
                    <span class="font-medium">{{
                      formUtils.getFieldError(myForm, "documentNumber")
                    }}</span>
                  </p>
                }
              </div>
            }
            @if (
              user()?.role !== "SUPER_ADMIN" &&
              user()?.role !== "ADMIN" &&
              user()?.role !== "STORE_OWNER"
            ) {
              <div>
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium"
                  [ngClass]="{
                    ' text-red-700': formUtils.isValiedField(myForm, 'phone'),
                  }"
                  >N° celular</label
                >
                <input
                  type="text"
                  id="phone"
                  formControlName="phone"
                  class="input-base"
                  [ngClass]="{
                    'input-error': formUtils.isValiedField(myForm, 'phone'),
                  }"
                />
                @if (formUtils.isValiedField(myForm, "phone")) {
                  <p class="mt-2 text-sm text-red-600">
                    <span class="font-medium">{{
                      formUtils.getFieldError(myForm, "phone")
                    }}</span>
                  </p>
                }
              </div>
            }
          </div> -->
          @if (
            user()?.role !== "SUPER_ADMIN" &&
            user()?.role !== "ADMIN" &&
            user()?.role !== "STORE_OWNER"
          ) {
            <div class="mb-6">
              <label
                for="birthDate"
                class="block mb-2 text-sm font-medium"
                [ngClass]="{
                  ' text-red-700': formUtils.isValiedField(myForm, 'birthDate'),
                }"
                >Fecha de nacimiento</label
              >
              <input
                type="date"
                id="birthDate"
                formControlName="birthDate"
                class="input-base"
                [ngClass]="{
                  'input-error': formUtils.isValiedField(myForm, 'birthDate'),
                }"
              />
              @if (formUtils.isValiedField(myForm, "birthDate")) {
                <p class="mt-2 text-sm text-red-600">
                  <span class="font-medium">{{
                    formUtils.getFieldError(myForm, "birthDate")
                  }}</span>
                </p>
              }
            </div>
          }
          <div class="mb-2">
            <h4 class="text-lg font-semibold mt-4">Foto</h4>
            <h4 class="text-sm font-normal mb-4">
              Carga una foto a tu perfil de tu cuenta
            </h4>
            <div class="md:flex items-center gap-6 justify-between">
              <div
                class="flex items-center justify-center w-20 h-20 rounded-full mb-6 object-cover"
              >
                <img [src]="urlImage | notImage" class="rounded-full" alt="" />
              </div>
              <div class="flex gap-3">
                <button type="button" class="button-secondary">
                  Eliminar foto
                </button>
                <label class="button-primary">
                  Agregar foto
                  <input
                    type="file"
                    class="hidden"
                    accept="image/*"
                    (change)="changeAvatarFile($event)"
                  />
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- TODO: Agregar configuracion de cuenta, idioma y zona horaria -->
        <!-- <div class="mb-6 card-static">
      <h1 class="text-xl font-bold mb-6">Configuración de la cuenta</h1>
      <div class="grid gap-6 mb-2 md:grid-cols-2">
        <div>
          <label for="language" class="block mb-2 text-sm font-medium text-black">Idioma</label>
          <select id="language"
            class=" input-base">

            <option value="ES">Español</option>
            <option value="EN">Ingles</option>
          </select>
        </div>
        <div>
          <label for="timezone" class="block mb-2 text-sm font-medium text-black">Zona horaria</label>
          <select id="timezone"
            class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5">

            <option value="US">GTM-5</option>
            <option value="CA">GTM-6</option>
          </select>
        </div>
      </div>

    </div> -->

        <div class="flex items-center justify-end py-4 md:py-5 rounded-b">
          <button type="button" class="button-secondary me-3">Cancelar</button>
          <button
            data-modal-hide="default-modal"
            type="submit"
            class="button-primary"
          >
            Guardar
          </button>
        </div>
      </form>
    }
  </div>
</div>
