<div class="overflow-y-auto max-h-[70vh]">
  <form
    class="px-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="onSave()"
  >
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <!-- name -->
      <div>
        <label
          for="UserName"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'UserName'
            )
          }"
          >Nombre</label
        >
        <input
          type="text"
          id="UserName"
          formControlName="UserName"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
              formUtils.isValiedField(myForm, 'UserName')
          }"
        />
        @if(formUtils.isValiedField(myForm,'UserName')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "UserName")
          }}</span>
        </p>
        }
      </div>
      <!-- Last name -->
      <div>
        <label
          for="fullNamePerson"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'fullNamePerson'
            )
          }"
          >Apellidos</label
        >
        <input
          type="text"
          id="fullNamePerson"
          formControlName="fullNamePerson"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
              formUtils.isValiedField(myForm, 'fullNamePerson')
          }"
        />
        @if(formUtils.isValiedField(myForm,'fullNamePerson')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "fullNamePerson")
          }}</span>
        </p>
        }
      </div>
    </div>

    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <!-- DNI -->
      <div>
        <label
          for="dniPerson"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'dniPerson'
            )
          }"
          >DNI</label
        >
        <input
          type="text"
          id="dniPerson"
          formControlName="dniPerson"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
              formUtils.isValiedField(myForm, 'dniPerson')
          }"
        />
        @if(formUtils.isValiedField(myForm,'dniPerson')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "dniPerson")
          }}</span>
        </p>
        }
      </div>
      <!-- email -->
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'email'
            )
          }"
          >Correo electronico</label
        >
        <div class="relative mb-6">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 16"
            >
              <path
                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
              />
              <path
                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
              />
            </svg>
          </div>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800 ps-10"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'email')
            }"
          />
        </div>
        @if(formUtils.isValiedField(myForm,'email')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "email")
          }}</span>
        </p>
        }
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="phone"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'phone'
            )
          }"
          >N° celular</label
        >
        <input
          type="text"
          id="phone"
          formControlName="phone"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
              formUtils.isValiedField(myForm, 'phone')
          }"
        />
        @if(formUtils.isValiedField(myForm,'phone')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "phone")
          }}</span>
        </p>
        }
      </div>
      <div>
        <label
          for="gender"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'gender'
            )
          }"
          >Genero</label
        >
        <select
          id="gender"
          formControlName="gender"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'gender'
            )
          }"
        >
          <option ngValue="" selected disabled>Seleccione</option>
          <option ngValue="0">Femenino</option>
          <option ngValue="1">Masculino</option>
        </select>
        @if(formUtils.isValiedField(myForm,'gender')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "gender")
          }}</span>
        </p>
        }
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="direction"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'direction'
            )
          }"
          >Dirección</label
        >
        <input
          type="text"
          id="direction"
          formControlName="direction"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
              formUtils.isValiedField(myForm, 'direction')
          }"
        />
        @if(formUtils.isValiedField(myForm,'direction')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "direction")
          }}</span>
        </p>
        }
      </div>
      <div>
        <label
          for="birthdate"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(
              myForm,
              'birthdate'
            )
          }"
          >Fecha de nacimiento</label
        >
        <input
          type="date"
          id="birthdate"
          formControlName="birthdate"
          class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
          [ngClass]="{
            ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
              formUtils.isValiedField(myForm, 'birthdate')
          }"
        />
        @if(formUtils.isValiedField(myForm,'birthdate')){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "birthdate")
          }}</span>
        </p>
        }
      </div>
    </div>

    <div class="mb-6">
      <label
        for="status"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'status'
          )
        }"
        >Estado</label
      >
      <select
        id="status"
        formControlName="status"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'status'
          )
        }"
      >
        <option ngValue="" selected disabled>Seleccione...</option>
        <option ngValue="Activo">Activo</option>
        <option ngValue="Inactivo">Inactivo</option>
      </select>
      @if(formUtils.isValiedField(myForm,'status')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "status")
        }}</span>
      </p>
      }
    </div>

    <div class="mb-6">
      <label
        for="role"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'role'
          )
        }"
        >Seleccione rol</label
      >
      <select
        id="role"
        formControlName="role"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'role'
          )
        }"
      >
        <option ngValue="" selected disabled>Seleccione...</option>
        @if(rolesResorce.hasValue()) {
        <!--  -->
        @for (item of rolesResorce.value().content; track item.id) {
        <option [ngValue]="item.id">{{ item.description }}</option>
        } }
      </select>
      @if(formUtils.isValiedField(myForm,'role')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "role")
        }}</span>
      </p>
      }
    </div>

    <hr />
    <div class="mb-6">
      <label
        for="accounUser"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'accounUser'
          )
        }"
        >Usuario</label
      >
      <input
        type="text"
        id="accounUser"
        formControlName="accounUser"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
            formUtils.isValiedField(myForm, 'accounUser')
        }"
      />
      @if(formUtils.isValiedField(myForm,'accounUser')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "accounUser")
        }}</span>
      </p>
      }
    </div>

    <div class="mb-6">
      <label
        for="password"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'password'
          )
        }"
        >Contraseña</label
      >
       <div class="relative">
      <input
      [type]="lookIconIsPassword() ? 'text' : 'password'"
        id="password"
        formControlName="password"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
            formUtils.isValiedField(myForm, 'password')
        }"
      />
      <button
          type="button"
          (click)="changeTypeInput()"
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500"
        >
          <svg
            class="shrink-0 size-3.5"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            @if (!lookIconIsPassword()) {
            <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
            <path
              d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
            ></path>
            <path
              d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
            ></path>
            <line x1="2" x2="22" y1="2" y2="22"></line>
            } @if (lookIconIsPassword()) {
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
            }
          </svg>
        </button>
      </div>
      @if(formUtils.isValiedField(myForm,'password')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "password")
        }}</span>
      </p>
      }
    </div>


    <div class="mb-6">
      <label
        for="passwordRepit"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'passwordRepit'
          )
        }"
        >Repetir contraseña</label
      >

       <div class="relative">
      <input
      [type]="lookIconIsPasswordConfirm() ? 'text' : 'password'"
        id="passwordRepit"
        formControlName="passwordRepit"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary-800"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
            formUtils.isValiedField(myForm, 'passwordRepit')
        }"
      />
            <button
          type="button"
          (click)="changeTypeInputConfirm()"
          class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500"
        >
          <svg
            class="shrink-0 size-3.5"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            @if (!lookIconIsPasswordConfirm()) {
            <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
            <path
              d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
            ></path>
            <path
              d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
            ></path>
            <line x1="2" x2="22" y1="2" y2="22"></line>
            } @if (lookIconIsPasswordConfirm()) {
            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
            <circle cx="12" cy="12" r="3"></circle>
            }
          </svg>
        </button>
      </div>
      @if(formUtils.isValiedField(myForm,'passwordRepit')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "passwordRepit")
        }}</span>
      </p>
      }
    </div>
    <button
      type="submit"
      [disabled]="!myForm.valid"
      class="button-primary"
      [ngClass]="{
        'cursor-not-allowed bg-blue-700/50 hover:bg-blue-800/50': !myForm.valid,
        'cursor-pointer': myForm.valid
      }"
    >
      Crear usuario
    </button>
  </form>
</div>
