<div class="relative overflow-x-auto shadow-md px-5 pb-5 md:pb-10 md:px-10 m-4">
  <div class="mb-6 mt-2 text-gray-900 dark:text-white flex justify-between">
    <div>
      <h1 class="text-2xl font-semibold">Plan de suscripción</h1>
      <p>
        Planes de suscripción para que las tiendas puedan elegir y vender en la
        plataforma
      </p>
    </div>
    <div>
      <button
        data-modal-hide="default-modal"
        type="button"
        (click)="openFormModal('crear')"
        class="button-primary "
      >
        Crear nuevo plan
      </button>
    </div>
  </div>
  <!-- Búsqueda general -->
  <tyn-filter
    [filterMenu]="filterMenu()"
    (selectFilter)="changeState($event)"
    placeholder="Buscar"
    [currentPage]="_linkService.currentPage()"
    [currentSize]="_linkService.currentSize()"
    [currentSearchTerm]="_linkService.currentSearchTerm()"
    [currentDateStartValue]="_linkService.currentDateInitialFilter()"
    [currentDateEndValue]="_linkService.currentDateEndFilter()"
  ></tyn-filter>
    <div class="relative shadow-md rounded-md">
      <table
        class="tabla"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Estado</th>
            <th scope="col" class="px-6 py-3">Precio</th>
            <th scope="col" class="px-6 py-3">Tipo</th>
            <th scope="col" class="px-6 py-3">Promocion</th>
            <th scope="col" class="px-6 py-3">Descripcion</th>
            <th scope="col" class="px-6 py-3">Fecha</th>
            <th scope="col" class="px-6 py-3">Opción</th>
          </tr>
        </thead>
        <tbody>
      @if(planesResorce.hasValue()) {
      <!--  -->
          @for (item of planesResorce.value().content; track item.id) {
          <tr
            class="bg-white border-b dark:bg-gray-700 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ item.name }}
            </th>
             <td
              class="px-6 py-4"
              [ngClass]="{
                'text-red-500': item.statusName === 'Inactivo',
                'text-green-500': item.statusName === 'Activo'
              }"
            >
              {{item.statusName}}
            </td>
            <td class="px-6 py-4">{{ item.price }}</td>
            <td class="px-6 py-4">{{ item.billingCycle }}</td>
            <td
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Por {{ item.promotion }} días
            </td>
            <td class="px-6 py-4">{{ item.description }}</td>
            <td class="px-6 py-4">{{item.createdAt | date : "medium"}}</td>
            <td class="relative px-6 py-4">
              <div class="relative inline-block">
                <!-- Icono de tres puntos (puedes usar un ícono o texto) -->
                <button
                  (click)="toggleDropdown(item)"
                  class="text-xl px-2 py-1"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 4 15"
                  >
                    <path
                      d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                    />
                  </svg>
                </button>
                <!-- Dropdown con opciones -->
                @if (openDropdownIndex === item.id) {
                <div
                  class="absolute right-0 mt-2 w-40 bg-white border border-primary-400 rounded-md shadow-lg z-50 dark:bg-primary-700"
                >
                  <ul class="text-sm text-gray-700 dark:text-gray-200">
                    <li
                      (click)="openFormModal('editar', item)"
                      class="block px-4 py-2 hover:bg-primary-300 dark:hover:bg-primary-600 cursor-pointer"
                    >
                      Editar
                    </li>
                    <li
                      (click)="openModalWar('eliminar')"
                      class="block px-4 py-2 hover:bg-primary-300 dark:hover:bg-primary-600 cursor-pointer"
                    >
                      Eliminar
                    </li>
                    <!-- TODO no tiene planes activos -->
                    <!-- @if (item.planState === 'inactivo') {
                    <li
                      (click)="openModalWar('activar')"
                      class="block px-4 py-2 hover:bg-primary-300 dark:hover:bg-primary-600 cursor-pointer"
                    >
                      Activar
                    </li>
                    } -->
                  </ul>
                </div>
                }
              </div>
            </td>
          </tr>
          }
      <!--  -->
      @empty {
      <td colspan="7" class="text-center py-4">No hay planes disponibles.</td>
      }
      <!--  -->
      } @if(planesResorce.isLoading()) {
      <tr>
        <td colspan="6" class="text-center p-4">
          <div class="alert alert-info text-center">
            <span class="font-bold">Cargando planes...</span>
          </div>
        </td>
      </tr>
      }



        </tbody>
      </table>
    </div>
    <!-- Paginación -->
    @if(planesResorce.hasValue()){
    <app-pagination
      [pages]="planesResorce.value().totalPages"
      [totalElements]="planesResorce.value().totalElements"
      [currentPage]="_linkService.currentPage()"
      [currentSize]="_linkService.currentSize()"
      [currentStatus]="_linkService.currentStatus()"
      [currentSearchTerm]="_linkService.currentSearchTerm()"
      [currentDateStartValue]="_linkService.currentDateInitialFilter()"
      [currentDateEndValue]="_linkService.currentDateEndFilter()"
    />
    }
</div>

<!-- Modal nuevo Plan -->
<tyn-planes-suscription-form-modal-page
  [visible]="formModalVisible()"
  [selectedPlan]="selectedPlan"
  (close)="closeFormModal()"
  (save)="onSavePlan($event)"
>
</tyn-planes-suscription-form-modal-page>

<!-- Modal de advertencia -->
<tyn-warning-modal
  [visible]="modalVisible"
  [itemName]="selectedPlan?.planName"
  [actionLabel]="currentAction === 'eliminar' ? 'Eliminar' : 'Activar'"
  [actionType]="currentAction"
  (confirm)="confirmAction()"
  (cancel)="closeModalWar()">
</tyn-warning-modal>

<!-- Modal de confirmacion -->
<tyn-success-modal
  [visible]="successModalVisible"
  [itemName]="itemName"
  [actionType]="currentAction"
  [succesType]="successType"
  (close)="closeSuccessModal()"
  >
</tyn-success-modal>

