/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";
/* @plugin "flowbite-typography"; */

@font-face {
  font-family: "Montserrat";
  src: url('../public/assets/fonts/montserrat/montserrat-alternates-medium.ttf');
}

@font-face {
  font-family: "Lato";
  src: url('../public/assets/fonts/lato/Lato-Regular.ttf');
}
/* TODO: revisar esta linea en angular.json -> "deployUrl": "/tynbiz-general-app/" */
@theme {
  --font-body: "Lato", "ui-sans-serif", "system-ui";
  --font-heading: "Lato", "Inter", "ui-sans-serif", "system-ui";
  --font-sans: var(--font-heading);
  --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "monospace";
  --spacing-8xl: 90rem;
  --text-2xs: 0.625rem;

  --animate-fadeIn: fadeIn 0.5s ease-in-out;

  --color-primary: #5E63B6;
  /* morado */
  --color-primary-light: #edeeff;
  /* morado super claro */
  --color-primary-dark: #28184e;
  /* morado oscuro */
  --color-secondary: #dedeff;
  /* morado claro */
  --color-secondary-dark: #BCBEDF;
  /* morado medio */

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .table {}

  .button-primary {
    @apply px-5 py-2.5 text-sm cursor-pointer font-medium text-white focus:outline-none bg-primary rounded-lg border border-primary hover:bg-primary-light hover:text-primary focus-within:outline-none focus:ring-4 focus:ring-primary-light;
  }

  .button-secondary {
    @apply py-2.5 px-5 md:ms-3 text-sm cursor-pointer font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-400 hover:bg-gray-200 hover:text-gray-600 focus-within:outline-none focus:ring-4 focus:ring-gray-100;
  }

  .button-disabled {
    @apply box-border border shadow-xs font-medium leading-5 rounded text-sm px-4 py-2.5 focus:outline-none;
  }

  .input-base {
    @apply block w-full rounded-lg border p-2.5 text-sm focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary;
  }

  .input-error {
    @apply border-red-500 text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500;
  }

  .card {
    @apply bg-white p-6 rounded-lg border border-gray-200 shadow-md hover:bg-gray-100;
  }

  .card-static {
    @apply w-full md:p-6 p-4 bg-white rounded-lg shadow-sm border border-gray-200;
  }

  .card-store {
    @apply w-full md:p-4 bg-gray-200 rounded-lg shadow-sm border border-gray-300 p-2;
  }

  .mini-card-img {
    @apply bg-white float-right flex justify-center items-center border border-gray-300;
  }
  .mini-card-img.md img {
    @apply rounded-lg w-full h-full object-contain;
  }
  .mini-card-img.xs img {
    @apply rounded-sm w-full h-full object-contain;
  }
  .mini-card-img.xs {
    @apply w-12 h-12 my-1  rounded-sm;
  }


  .mini-card-img.md {
    @apply w-24 h-24 rounded-lg;
  }

  .mini-card-img.sm {
    @apply w-18 h-18 my-2  rounded-lg;
  }

  .body-primary {
    @apply relative overflow-x-auto md:shadow-md sm:rounded-lg px-4 lg:px-10 py-12 md:m-4;
  }

  .body-secondary {
    @apply max-w-7xl m-auto;
  }

  .tab {
    @apply flex flex-wrap mb-px md:text-lg text-sm text-center text-gray-500;
  }

  .tab-active {
    @apply inline-block p-2 text-primary font-semibold border-b-2 border-primary rounded-t-lg;
  }

  .tab-inactive {
    @apply inline-block p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300;
  }

  .tabla {
    @apply w-full text-sm text-left rtl:text-right text-black rounded-md bg-white;
  }
  .tabla thead{
    @apply text-sm text-black border-b border-gray-300 bg-gray-100;
  }
  .tabla thead tr th{
    @apply px-6 py-3;
  }
  .tabla tbody tr{
    @apply border-b border-gray-300 hover:bg-gray-50;
  }
  .tabla tbody tr td{
    @apply px-6 py-4;
  }
  .content-details-product{
    @apply md:ms-3 text-sm font-normal ms-2 text-start;
  }
  .content-details-product p{
    @apply text-sm font-normal  text-black;
  }

}
