@if (listProduct()) {
<div class="flex items-center">
  <div class="relative bg-white w-24 h-24 shrink-0 justify-center flex items-center rounded-lg">
    <img class="h-20" [src]="listProduct().mediaUrls | notImage" alt="Jese Leos image" />
  </div>
  <div class="md:ms-3 text-sm font-normal">
    <p class="text-sm font-normal text-black">
      {{ listProduct().sku }}
    </p>
    <p class="text-sm font-bold text-black">
      {{ listProduct().name }}
    </p>
    <p class="text-sm font-normal text-black">
      Color: {{ listProduct().colors.join(', ') }} Talla: {{ listProduct().sizes.join(', ') }}
    </p>
    <p class="text-sm font-normal text-black">
      {{ listProduct().originalPrice }}
    </p>
  </div>

</div>}
