@if (listProduct()) {
<div class="flex items-center">
  <div class="relative bg-white w-24 h-24 shrink-0 justify-center flex items-center rounded-lg">
    <img class="h-20" [src]="listProduct().image" alt="Jese Leos image" />
  </div>
  <div class="ms-3 text-sm font-normal">
    <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
      {{ listProduct().marca }}
    </p>
    <p class="text-sm font-bold text-gray-900 dark:text-white">
      {{ listProduct().nameProduct }}
    </p>
    <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
      Color: {{ listProduct().color }} Talla: {{ listProduct().talla }}
    </p>
    <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
      {{ listProduct().price }}
    </p>
  </div>
</div>}
