<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-10 m-4">
  <div class="mb-6 text-gray-900 dark:text-white">
    <h4 class="text-lg font-bold">Tiendas virtuales</h4>
    <p>Toda las tiendas asociados</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 m-6">
    @for (item of isReportStore; track item.id) {
    <tyn-simple-card [isCardValue]="item" [tipeCant]="'monto'" />
    }
  </div>

  <!-- Búsqueda general -->
  <tyn-filter
    [filterMenu]="filterMenu()"
    (selectFilter)="changeState($event)"
    placeholder="Buscar"
    [currentPage]="_linkService.currentPage()"
    [currentSize]="_linkService.currentSize()"
    [currentSearchTerm]="_linkService.currentSearchTerm()"
    [currentDateStartValue]="_linkService.currentDateInitialFilter()"
    [currentDateEndValue]="_linkService.currentDateEndFilter()"
  ></tyn-filter>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-x-auto"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Nombre</th>
          <th scope="col" class="px-6 py-3">Departamento</th>
          <th scope="col" class="px-6 py-3">Categoria</th>
          <th scope="col" class="px-6 py-3 text-center">Estado</th>
          <th scope="col" class="px-6 py-3">Plan de suscripción</th>
          <th scope="col" class="px-6 py-3">Gastos total</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @if(storeResorce.hasValue()) {
        <!--  -->
        @for (item of storeResorce.value().content; track item.id) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ item.displayName }}
          </th>
          <td class="px-6 py-4">{{ item.departamento }}</td>
          <td class="px-6 py-4">{{ item.categoryName }}</td>
          <td class="px-6 py-4 text-center">
            <span
              class="inline-flex items-center text-xs font-medium px-2.5 py-0.5 rounded-full"
              [ngClass]="{
            'bg-green-100 text-green-800':
              item.statusName == 'Activo',
            'bg-yellow-100 text-yellow-800':
              item.statusName === 'Pendiente',
            'bg-red-100 text-red-800':
              item.statusName === 'Suspendido',
            'bg-purple-100 text-purple-800 line-through':
              item.statusName === 'Cancelado',

          }"
            >
              {{ item.statusName }}
            </span>
          </td>
          <td class="px-6 py-4 text-center">{{ item.planType }}</td>
          <td class="px-6 py-4 text-center">{{ item.totalSpent }}</td>
          <td class="px-6 py-4 text-center">
            {{ item.createdAt | date : "medium" }}
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
    <!-- Paginación -->
    @if(storeResorce.hasValue()){
    <app-pagination
      [pages]="storeResorce.value().totalPages"
      [totalElements]="storeResorce.value().totalElements"
      [currentPage]="_linkService.currentPage()"
      [currentSize]="_linkService.currentSize()"
      [currentStatus]="_linkService.currentStatus()"
      [currentSearchTerm]="_linkService.currentSearchTerm()"
      [currentDateStartValue]="_linkService.currentDateInitialFilter()"
      [currentDateEndValue]="_linkService.currentDateEndFilter()"
    />
    }
</div>
